---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ContinuationIndentWidth: '4'
Cpp11BracedListStyle: 'false'
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: All
UseTab: Never
...
